/* components/LoginForm.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
  }
  
  .form {
    background: linear-gradient(135deg, #f0f2f5 0%, #eee7e7 100%);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .title {
    margin-bottom: 1.5rem;
    text-align: center;
    color: black;
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }
  
  .label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;

  }
  
  .input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: wheat;
    color: black;
  }
  
  .button {
    width: 100%;
    padding: 0.75rem;
    border: none;
    border-radius: 4px;
    background-color: #0070f3;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  .LoginForm_container__HaoYV{
background-color: transparent !important;
  }